@import '../../node_modules/bootstrap/scss/bootstrap.scss';

#userCard {
    cursor: pointer;
    transition: all 0.3s ease;
}

#userCard:hover {
    box-shadow: none !important;
}

#userCard>img {
    transition: all 0.3s ease;
}

#userCard:hover>img {
    border-bottom-left-radius: 0 !important;
}

::-webkit-scrollbar {
    display: none;
}